.alert-message {
    text-align: center;
    font-size: 2em;
}

.alert-message p {
    margin-top: 1em;
}

footer menu li a {
    text-transform: uppercase;
}

#kladr_autocomplete a{
    color: #8a8b8d;
}

.hidden{
    display: none !important;
}

.preload{
    opacity: .5;
}

.field-cooperationform-phone, .field-geography-country, .field-geography-city, .field-geography-address, .field-geography-mode, .field-geography-shop_name, .field-geography-fio, .field-geography-phone, .field-geography-email {
    float: left;
}
.clear{
    clear: both;
}

#search-shop form input[type="text"] {
    width: 215px;
}

.flash_message{
    border: 1px solid #fff;
    margin: 20% 25%;
    padding: 1em 0;
    position: fixed;
    text-align: center;
    width: 50%;
}

#myMap{
    width: 100%; height: 100%
}

.client-description{

}

.image-shop img{
    width: 150px;
    height: auto;
}

.privat .components .inner .text > p:first-child{
    font: 34px/36px "open_sansregular";
    left: 575px;
    top: 131px;
}