.alert-message {
    text-align: center;
    font-size: 2em;
}

.alert-message p {
    margin-top: 1em;
}

footer menu li a {
    text-transform: uppercase;
}

#kladr_autocomplete a{
    color: #8a8b8d;
}

.hidden{
    display: none !important;
}

.preload{
    opacity: .5;
}